**/openrc.sh
**/.env
**/.envrc
**/.terraform*
**/*.tfstate
**/*.tfstate.* 
**/*.tfvars
**/*.tfvars.json
**/.terraformrc
**/terraform.rc
**/*.swp
**/*.log
.bak
.tmp
**/.terraform.lock.hcl
**/.*
**/old*
..old
old

# Local Builds Environment
## Vagrant
**/Vagrantfile*
**/.vagrant*

## Docker
**.dockerignore
**/Dockerfile*
.DS_Store
README.md
ansible
secrets
Dockerfile
docker-compose.yml

## logs
**/logs*
log_all_installs.txt
log_all_installs.json
error_log.json
**/log_installs.sh
